APP_ENV=development|staging|production
APP_HTTP_ADDR=:8080
APP_LOG_FORMAT=console|json
APP_LOG_LEVEL=debug|info|warn|error
APP_SERVICE_NAME=playground-backend
PUBLIC_URL=http://localhost
CADDY_BACKEND_UPSTREAM=localhost:8080
CADDY_FRONTEND_UPSTREAM=localhost:3000

GOOGLE_CLIENT_ID=change_me
GOOGLE_CLIENT_SECRET=change_me


POSTGRES_USER=postgres
POSTGRES_PASSWORD=change_me
POSTGRES_DB=app

FRONTEND_URL=http://localhost
